.homeMode section#search {
  position:relative;
  left:0;
  right:0;
  margin: 15% auto 0 auto;
  width: 50%;
  .search-container {
    float:none;
    box-shadow: none;
    input[type='search'] {
      font-size: 21px;
      height: 42px;
    }
  }
}

.propertiesMode section#search {
  display:inherit;
}

.propertyMode section#search {
  display:none;
}


@media screen and (min-width: 1024px) {

  .propertyMode section#search {
    display: block;
  }
}